body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
    border-radius: 100px 100px 0px 0px;
}

h2 {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.project, .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 3px 3px 13px 0px #c9c9c9;
    border-radius: 6px;
}
}

.project-details {
    flex: 1;
    min-width: 50%; /* Adjust this value based on your preference */
}

.project-video {
    flex-basis: 100%; /* Adjust this value based on your preference */
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

iframe {
    max-width: 100%;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) { /* Adjust this breakpoint based on your preference */
    .project-video {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .project {
        flex-direction: column;
    }

    .project-details, .project-video {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

